    
<!DOCTYPE html>
<html lang="en"> 

 <!--  строим ajax -->


<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}{% endblock %}

<!--  строим ajax -->

 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main_2.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



   <h2 class="form-signin-heading">Пожалуйста введите ip адрес оборудования, логин, пароль</h2>
        <input type="text"  class="form-control" placeholder="ip адрес оборудования" name="ip_adress">
        <!--<label for="inputPassword" class="sr-only">test2</label>-->
        <input type="text"   class="form-control" placeholder="логин" name="login">
        <input type="text" class="form-control" placeholder="пароль" name="password">
     
        <p><a href=# id="check_login_ip_password">проверить</a>





<h1>Введенные IP Login Password </h1>

<!-- ВЫВОД ЛОГИНА ПАРОЛЯ И IP -->
<p><span id="result_correct_web">тут будет результат</span>



 
<h1>Доступные команды</h1>

  <p>sh ip int br</p>
  <p> sh clo</p>
  <p>sh ver</p>
 <p><a class="btn btn-lg  btn-primary btn-block" href=# id="sh_clo">sh clo</a>




<h1>Ввод команды </h1>
<p><input type="text" size="20" name="command"> 
<p><a class="btn btn-lg  btn-primary btn-block" href=# id="input_command">показать</a>


<h1>Вывод результата</h1>
<p><span id="result_command_web">тут будет результат</span>



<!-- Button trigger modal -->
<div class="bs-example bs-example-padded-bottom"> 
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> 
    Диагностика
</button> 
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>

     <div class="modal-body">
    <h4>Text in a modal</h4>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>


    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



 <!--  СКРИПТЫ -->


 <!--  проверяем корректность логина и пароля -->
<script type=text/javascript>
  $(function() {
    $('a#check_login_ip_password').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/correct', {
        ip_adress: $('input[name="ip_adress"]').val(),
        login: $('input[name="login"]').val(),
        password: $('input[name="password"]').val(),
      
      }, function(data) {
        $("#result_correct_web").text(data.result_correct);
      });
      return false;
    });
  });
</script>


<!-- command_run-->

<script type=text/javascript>
  $(function() {
    $('.router-command').bind('click', function() {
      console.log($(this).attr('data-command'));
      $.getJSON($SCRIPT_ROOT + '/command_run', {
        command_run: $(this).attr('data-command'),
        ip_adress: $('input[name="ip_adress"]').val(),
        login: $('input[name="login"]').val(),
        password: $('input[name="password"]').val(),
      
      }, function(data) {
        $("#command_run_web").text(data.result_command_run);
      });
      return false;
    });
  });
</script>

<h1>Ввод команды command_run</h1>
<p><a class="btn btn-lg  btn-primary btn-block router-command" data-command='sh clo' href=# id="sh clo">Ввод команды sh_clo_web</a>
<p><a class="btn btn-lg  btn-primary btn-block router-command" data-command='sh ip int br' href=# id="sh ip int br">Ввод команды sh ip int br</a>
<p><a class="btn btn-lg  btn-primary btn-block router-command" data-command='sh ip route' href=# id="sh ip int br">Ввод команды sh ip route</a>
<p><a class="btn btn-lg  btn-primary btn-block router-command" data-command='sh run' href=# id="sh ip int br">Ввод команды sh run</a>
<p><a class="btn btn-lg  btn-primary btn-block router-command" data-command='sh arp' href=# id="sh ip int br">Ввод команды sh arp</a>


<h1>Вывод результата command_run</h1>

<p><pre id="command_run_web">Вывод результата command_run</pre>





<!-- активация скриптов в bootstrap -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>





